.file-selector-overlay-custom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.file-selector-content-custom {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.form-custom {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-custom label {
    margin-bottom: 10px;
    font-weight: bold;
}

.form-custom input[type="text"],
.form-custom input[type="date"],
.form-custom select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-custom input[type="checkbox"] {
    margin-left: 5px;
}

.form-custom button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-custom button:hover {
    background-color: #0056b3;

}

.form-custom div {
    margin-bottom: 15px;
}