.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.icon-item:hover .icon, .icon-item.active .icon {
    color: #ffffff;
}

.icon-item.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #0078D4;
}

