.source-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100px;
    flex: 1;
}

.commitText {
    color: #D4D4D4;
    font-size: 12px;
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    background-color: #1E1E1E;
    border: 1px solid #3C3C3C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MainDiv {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 10px;
}

.source-control::-webkit-scrollbar {
    width: 7px;
}

.source-control::-webkit-scrollbar-thumb {
    background: #393838;
}

.source-control::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.button {
    width: 80%;
    padding: 5px;
    background-color: #017BFE;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* VS Code font */
    margin-bottom: 10px;
}

.button:hover {
    background-color: #0056b3;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.Ullist {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: fit-content;
    max-height: 60vh;
    overflow-y: auto;
}

.filelist {
    flex: 0;
    display: flex;
    align-items: start;
    width: 100%;
    height: 100%;
    padding-top: 0%;
    justify-content: start;
}

.divlistGit {
    overflow: hidden;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.file {
    padding-left: 10px;
    color: rgb(223, 223, 223);
    font-size: 13px;
    min-width: fit-content;
    max-width: fit-content;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.path {
    flex-grow: 2;
    flex-shrink: 2;
    padding-left: 10px;
    color: #646464;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.state {
    margin: 0;
}