.file-tree {
    white-space: nowrap;
    overflow-x: hidden;
    height: calc(100vh - 35px);
    overflow-y: scroll;
}

.file-tree::-webkit-scrollbar {
    width: 7px;
}

.file-tree::-webkit-scrollbar-thumb {
    background: #393838;
}

.file-tree::-webkit-scrollbar-thumb:hover {
    background: #555;
}