.file-tree::-webkit-scrollbar {
    width: 7px;
}

.file-tree::-webkit-scrollbar-thumb {
    background: #393838;
}

.file-tree::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.file-tree {
    white-space: nowrap;
    overflow-x: hidden;
    height: calc(100vh - 35px);
    overflow-y: scroll;
    margin: 0 20px 20px;
}

.vscode-button {
    background-color: #007bff;
    color: white;
    border: none;
    min-width: 200px;
    width: 100%;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vscode-button:hover {
    background-color: #0056b3;
}
