.search-bar-wrapper::-webkit-scrollbar {
    width: 7px;
}

.search-bar-wrapper::-webkit-scrollbar-thumb {
    background: #393838;
}

.search-bar-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}

.search-bar {
    width: 80%;
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    background-color: #1E1E1E;
    color: #D4D4D4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* VS Code font */
}

.search-bar:focus {
    outline: none;
    border-color: #017BFE;
}

.search-bar::placeholder {
    color: #8C8C8C;
}

.search-button {
    width: 80%;
    padding: 10px;
    background-color: #017BFE;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* VS Code font */
}

.search-button:hover {
    background-color: #0056b3;
}

.search-results {
    width: 80%;
    height: calc(100vh - 200px);
    margin-top: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
    color: #D4D4D4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* VS Code font */
}

.search-results::-webkit-scrollbar {
    width: 7px;
}

.search-results::-webkit-scrollbar-thumb {
    background: #393838;
}

.search-results::-webkit-scrollbar-thumb:hover {
    background: #555;
}