.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 49px;
    position: relative;
    height: calc(100vh - 35px);
    background-color: #181818;
    color: #868686;
    box-sizing: border-box;
    border-right: 1px solid #2B2B2B;
}

.left-bar-top,
.left-bar-bottom {
    display: flex;
    flex-direction: column;
}

.left-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 100%;
    cursor: pointer;
    font-size: 1.4em;
}

.left-bar-item:hover {
    color: white;
}