.tab-bar {
    height: 35px;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #181818;
    box-sizing: border-box;
    position: relative;
}

.tabs-wrapper {
    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    position: relative;
}


.tabs-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex: 1;
}

.tabs-wrapper::-webkit-scrollbar {
    height: 4px;
}

.tabs-wrapper::-webkit-scrollbar-thumb {
    background: #393838;
    border-radius: 6px;
}

.tabs-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}